
.formGroup {
    width: 24%;
    text-align: center;
    margin-top: 3%;
    margin-left: 38%;
}

.itemForm {
    margin-top: 20px !important;
}

.buttonSignup {
    width: 50%;
    margin-left: 25% !important;
}